body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f4ee;
    width: 100%;
    padding: 0px;
    margin: 0px;
    min-height: 100vh;
    font-family: Gill Sans, sans-serif;
    font-weight: lighter;
    font-size: 1em;
    letter-spacing: 0.1px;
    color: #294162;
    text-rendering: optimizeLegibility;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    -webkit-font-smoothing: antialiased;
}

h2 {
    text-align: center;
    margin: 20px;
}

.ani-one {
    position: relative;
    animation-name: sign-ani-one;
    animation-duration: 0.5s;
}

.ani-two {
    position: relative;
    animation-name: sign-ani-one;
    animation-duration: 1.2s;
}

.ani-three {
    position: relative;
    animation-name: sign-ani-one;
    animation-duration: 1.5s;
}

.ani-four {
    position: relative;
    animation-name: sign-ani-one;
    animation-duration: 1.8s;
}

.ani-five {
    position: relative;
    animation-name: sign-ani-one;
    animation-duration: 2.0s;
}

.ani-six {
    position: relative;
    animation-name: sign-ani-one;
    animation-duration: 2.2s;
}

.ani-up-one {
    position: relative;
    animation-name: sign-ani-two;
    animation-duration: 0.5s;
}

.ani-up-two {
    position: relative;
    animation-name: sign-ani-two;
    animation-duration: 1.2s;
}

.ani-up-three {
    position: relative;
    animation-name: sign-ani-two;
    animation-duration: 1.5s;
}

.ani-up-four {
    position: relative;
    animation-name: sign-ani-two;
    animation-duration: 1.8s;
}

.ani-up-five {
    position: relative;
    animation-name: sign-ani-two;
    animation-duration: 2.0s;
}

.ani-up-six {
    position: relative;
    animation-name: sign-ani-two;
    animation-duration: 2.2s;
}

.input {
    width: 100%;
    outline: none;
    background: none;
    border: none;
    border-bottom: 1px solid #294162;
    margin-bottom: 10px;
}

.input:focus {
    border-bottom: 1px solid #88acac;

}

.col-sign {
    align-items: center;
    background-color: #f5f4ee;
    margin: 0px;
    padding: 30px;
    float: left;
    width: 40%;
    height: 100%;
    /* border-radius: 10px; */
}

.btn {
    background-color: #88acac;
    color: #f5f4ee;
    margin-bottom: 20px;
}

.btn:hover {
    opacity: 0.8;
}

.full-width-btn {
    width: 100%;
}

.signupBtn {
    float: right;
    color: #88acac;
    background-color: #f5f4ee;
    border: 2px solid #88acac;
    margin-right: 20px;
}

#gobackBtn {
    color: #88acac;
    background-color: #f5f4ee;
    border: 2px solid #88acac;
}

.row-signup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.signup-p {
    margin-left: 30px;
    margin-top: 10px;
}

img {
    margin-right: 20px;
}

.icon-img {
    text-align: center;
    animation-name: icon-animation;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes sign-ani-one {
    0% { left: -300px; opacity: 0;}
    100% { left: 0px; opacity: 1;}
}

@keyframes sign-ani-two {
    0% { left: 300px; opacity: 0;}
    100% { left: 0px; opacity: 1;}
}

@keyframes icon-animation {
    0% { transform-origin: center; transform: scaleX(1) }
    50% { transform-origin: center; transform: scaleX(0) }
    100% { transform-origin: center; transform: scaleX(1)}
}
